.rss {
  width: 50px;
  height: 25px;
  background-image: url(./assets/img/rsschool.jpg);
  
}
.footer {
  background-color: #b0c8ef;
  padding: 20px;
  text-align: center;
}
.body {
  background-color: #dbe6f7;
  text-align: center;
}